
/* Referenced Dark/Light Dot Theme from: 
https://forum.obsidian.md/t/style-grid-background-and-dotted-background/90681 */
.theme-dark {
  --background-primary: #121212;
  --grid-line-color-1: #3d3d3f66;
  --grid-line-color-2: #74747440;
  --grid-dot-color: #c7c7c71f;
}

.theme-light {
  --background-primary: #E4F1F4;
  --grid-line-color-1: #B9D9EB;
  --grid-line-color-2: #B9D9EB;
  --grid-dot-color: #B9D9EB;
}

/* Referenced Topbar nav from: 
https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

.topnav {
  background-color: #60a2ca;
  display: flex;
  overflow: hidden;
  margin: 10px;
}

.topnav a {
  color: #E4F1F4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #070454;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #070454;
  color: #E4F1F4;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

img, .topnav, .flex-container, .accordion {
  border-radius: 12px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  
  padding: 20px;              /* inside spacing */
  margin: 40px auto;          /* outside spacing, auto centers horizontally */
  border: 1px solid #0d5b9f;     /* border around the box */
  background-color: #c0f3ff;  /* background inside the box */
  width: fit-content;         /* shrink box to fit content */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* optional shadow for depth */
}

body {
  height: 100%;
  background-image: radial-gradient(circle, var(--grid-dot-color) 3px, var(--background-primary) 3px);
  background-size: 20px 20px;
  background-position: center center;
  font-family: Georgia, serif;

}

#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #14b6ed; /* Set a background color */
  color: #bbe6f0; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 150px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #0d6e9b; /* Add a dark-grey background on hover */
}

h1 {
  color: black;
  font-size: 32px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 20px;
  text-align: left;
}

p {
  font-size: 18px;
  text-align: left;
}

ul {
  font-size: 16px;
  text-align: left;
}

.button-container {
  display: flex;         /* Arranges children in a row */
  gap: 10px;             /* Space between buttons */
  padding: 20px;
}

.button {
  width: 50px; 
  height: 50px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1191d1;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: #1191d1;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.button:active {
  background-color: #1191d1;
  transform: translateY(8px);
  box-shadow: 0 -4px #999;
  clip-path: circle(50% at 50% 40%); /* move circle center up → bottom clipped */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #60a2ca;
  color: #E4F1F4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #070454;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #a6d4f7;
  display: none;
  overflow: hidden;
}

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
.ticket{
  display: inline-block;
  width: 350px;
  margin: 20px;
  background-color: #273138;
  border-radius: 10px;
  color: #fff;
  font-family: Helvetica Neue;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  header{
    position: relative;
    height: 35px;
    background-color: #1B252E;
    padding: 10px;
    border-radius: 10px;
    .company-name{
      line-height: 35px;
      text-align: left;
    }
    .gate{
      position: absolute;
      right: 15px;
      top: 10px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
    }
    &:after{
      content: '';
      width: 16px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      bottom: -8px;
      right: -8px;
      border-radius: 50%;
      box-shadow: inset 12px 0px 18px -11px rgba(0,0,0,0.5);
    }
    &:before{
      content: '';
      width: 16px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      bottom: -8px;
      left: -8px;
      border-radius: 50%;
      box-shadow: inset -12px 0px 18px -11px rgba(0,0,0,0.5);
    }
  }
  .airports{
    padding: 5px 10px 10px 10px;
    height: 100px;
    text-align: center;
    position: relative;
    border-bottom: 2px dashed #000;
    .airport {
      position: relative;
      margin: 10px;
      text-align: center;
      display: inline-block;
      .airport-name{
        color: #29A8EB;
        font-size: 12px;
        font-weight: 400;
      }
      .airport-code{
        font-size: 32px;
        font-weight: 400;
        margin: 5px 0;
      }
      .dep-arr-label{
        color: #9299A0;
        font-size: 12px;
        font-weight: 500;
      }
      .time{
        font-size: 10px;
        color: #9299A0;
      }
      &:first-child{
        margin-right: 40%;
        &:after{
          font-family: FontAwesome;
          color: #353E48;
          content: "\f072";
          position: absolute;
          font-size: 55px;
          top: calc(50% - 25px);
          right: -150%;
        }
      }
    }
    &:after{
      content: '';
      width: 16px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      bottom: -8px;
      right: -8px;
      border-radius: 50%;
      box-shadow: inset 12px 0px 18px -11px rgba(0,0,0,0.5);
    }
    &:before{
      content: '';
      width: 16px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      bottom: -8px;
      left: -8px;
      border-radius: 50%;
      box-shadow: inset -12px 0px 18px -11px rgba(0,0,0,0.5);
    }
  }
  .place{
    padding: 10px;
    text-align: center;
    height: 330px;
  }
  .place-block{
    display: inline-block;
    margin: 10px 30px;
    .place-label{
      color: #29A8EB;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .place-value{
      color: #9299A0;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .qr{
    width: 220px;
    height: 220px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.ticket.inverse{
  background-color: #F8F8F8;
  header{
    background-color: #29A8EB;
  }
  .airports{
    border-bottom-color: #D3D6DA;
  }
  .airport {
    &:first-child{
        &:after{
            color: #D3D6DA;
        }
    }
    .airport-code{
      color: #707884;
      font-weight: 500;
    }
  }
}
